USE [master]
GO
/****** Object:  Database [NVHDB]    Script Date: 29/12/2025 9:29:26 PM ******/
CREATE DATABASE [NVHDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyProjectDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MyProjectDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyProjectDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MyProjectDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NVHDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NVHDB]
GO
/****** Object:  User [api_user]    Script Date: 29/12/2025 9:29:26 PM ******/
CREATE USER [api_user] FOR LOGIN [api_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [api_user]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id] [nvarchar](50) NOT NULL,
	[user_id] [nvarchar](50) NOT NULL,
	[household_code] [nvarchar](50) NULL,
	[service_id] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[time_start] [time](7) NOT NULL,
	[time_end] [time](7) NOT NULL,
	[fee] [decimal](18, 0) NOT NULL,
	[status] [nvarchar](20) NULL,
	[purpose] [nvarchar](255) NOT NULL,
	[payment_status] [nvarchar](20) NULL,
	[payment_date] [datetime2](7) NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_reference] [nvarchar](100) NULL,
	[approved_by] [nvarchar](50) NULL,
	[approved_at] [datetime2](7) NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facility]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facility](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](50) NULL,
	[price] [decimal](18, 0) NULL,
	[unit] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[image_url] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[location] [nvarchar](255) NULL,
	[capacity] [int] NULL,
	[area] [decimal](18, 2) NULL,
	[asset_value] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacilityBooking]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacilityBooking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](255) NULL,
	[user_name] [nvarchar](255) NULL,
	[facility_id] [int] NULL,
	[booking_date] [date] NOT NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[purpose] [nvarchar](max) NULL,
	[total_price] [decimal](18, 0) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[quantity] [int] NULL,
	[attendees_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Household]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Household](
	[id] [nvarchar](50) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[area] [decimal](10, 2) NOT NULL,
	[previous_address] [nvarchar](255) NULL,
	[registration_date] [date] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[owner_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseholdMember]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseholdMember](
	[id] [nvarchar](50) NOT NULL,
	[household_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](50) NULL,
	[dob] [date] NOT NULL,
	[gender] [nvarchar](10) NULL,
	[idCard] [nvarchar](20) NOT NULL,
	[idIssueDate] [date] NULL,
	[idIssuePlace] [nvarchar](100) NULL,
	[ethnicity] [nvarchar](50) NULL,
	[religion] [nvarchar](50) NULL,
	[occupation] [nvarchar](100) NULL,
	[workplace] [nvarchar](255) NULL,
	[registrationDate] [date] NULL,
	[previousAddress] [nvarchar](255) NULL,
	[avatar] [nvarchar](255) NULL,
	[isTemporary] [bit] NULL,
	[education_level] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[type] [nvarchar](50) NULL,
	[content] [nvarchar](max) NULL,
	[location] [nvarchar](255) NULL,
	[event_date] [datetime] NULL,
	[is_urgent] [bit] NULL,
	[created_at] [datetime] NULL,
	[end_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationRequest]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationRequest](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[household_code] [nvarchar](50) NULL,
	[applicant_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[category] [nvarchar](100) NULL,
	[status] [nvarchar](50) NULL,
	[image_url] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[admin_response] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[category] [nvarchar](20) NULL,
	[fee] [decimal](18, 0) NOT NULL,
	[unit] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[capacity] [int] NULL,
	[area] [decimal](10, 2) NULL,
	[type] [nvarchar](20) NULL,
	[floor] [nvarchar](20) NULL,
	[manager] [nvarchar](100) NULL,
	[location] [nvarchar](255) NULL,
	[total] [int] NULL,
	[broken] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistics](
	[id] [nvarchar](50) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[period] [nvarchar](20) NOT NULL,
	[data] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29/12/2025 9:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[household_id] [nvarchar](50) NULL,
	[avatar] [nvarchar](255) NULL,
	[last_login] [datetime2](7) NULL,
	[reset_password_token] [nvarchar](255) NULL,
	[reset_password_expires] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[dob] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[cccd] [nvarchar](20) NULL,
	[job] [nvarchar](100) NULL,
	[workplace] [nvarchar](255) NULL,
	[relation] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Facility] ON 

INSERT [dbo].[Facility] ([id], [name], [type], [price], [unit], [description], [status], [image_url], [created_at], [location], [capacity], [area], [asset_value], [quantity]) VALUES (1, N'Hội trường chính', N'PhongHop', CAST(500000 AS Decimal(18, 0)), N'buổi', N'Sức chứa 200 người, có âm thanh, điều hòa', N'Available', NULL, NULL, N'Tầng 1', 200, CAST(1000.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Facility] ([id], [name], [type], [price], [unit], [description], [status], [image_url], [created_at], [location], [capacity], [area], [asset_value], [quantity]) VALUES (2, N'Sân cầu lông', N'TheThao', CAST(100000 AS Decimal(18, 0)), N'giờ', N'Sân trong nhà, đèn sáng', N'Available', NULL, NULL, N'Tầng 1', 20, CAST(200.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Facility] ([id], [name], [type], [price], [unit], [description], [status], [image_url], [created_at], [location], [capacity], [area], [asset_value], [quantity]) VALUES (5, N'Loa kéo', N'AmThanh', CAST(40000 AS Decimal(18, 0)), NULL, N'Loa kết nối bluetooth, âm thanh to, rõ ràng', N'Available', NULL, CAST(N'2025-12-29T07:38:55.730' AS DateTime), NULL, NULL, NULL, CAST(2000000 AS Decimal(18, 0)), 3)
SET IDENTITY_INSERT [dbo].[Facility] OFF
GO
SET IDENTITY_INSERT [dbo].[FacilityBooking] ON 

INSERT [dbo].[FacilityBooking] ([id], [user_id], [user_name], [facility_id], [booking_date], [start_time], [end_time], [purpose], [total_price], [status], [created_at], [quantity], [attendees_count]) VALUES (1, N'6eb55605-807e-45ae-a8b3-89c363ad8891', NULL, 1, CAST(N'2025-12-31' AS Date), CAST(N'16:45:00' AS Time), CAST(N'22:45:00' AS Time), N'Tổ chức tất niên', NULL, N'Approved', CAST(N'2025-12-29T09:52:20.950' AS DateTime), 1, NULL)
INSERT [dbo].[FacilityBooking] ([id], [user_id], [user_name], [facility_id], [booking_date], [start_time], [end_time], [purpose], [total_price], [status], [created_at], [quantity], [attendees_count]) VALUES (2, N'6eb55605-807e-45ae-a8b3-89c363ad8891', NULL, 2, CAST(N'2025-12-31' AS Date), CAST(N'17:05:00' AS Time), CAST(N'22:05:00' AS Time), N'Đánh cầu', NULL, N'Approved', CAST(N'2025-12-29T10:05:58.283' AS DateTime), 1, NULL)
INSERT [dbo].[FacilityBooking] ([id], [user_id], [user_name], [facility_id], [booking_date], [start_time], [end_time], [purpose], [total_price], [status], [created_at], [quantity], [attendees_count]) VALUES (3, N'878731c4-5ca1-43d6-b2be-c96c5e681fdc', NULL, 6, CAST(N'2025-12-31' AS Date), CAST(N'17:30:00' AS Time), CAST(N'21:30:00' AS Time), N'Tổ chức sự kiện ', NULL, N'Rejected', CAST(N'2025-12-29T10:25:07.013' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[FacilityBooking] OFF
GO
INSERT [dbo].[Household] ([id], [code], [address], [area], [previous_address], [registration_date], [notes], [created_at], [updated_at], [owner_id]) VALUES (N'53C33151-D581-4FBA-969D-625F4AC9194B', N'TDP7-2024-001', N'Số 456, Đường Lê Trọng Tấn, Đống Đa, Hà Nội', CAST(0.00 AS Decimal(10, 2)), NULL, NULL, NULL, CAST(N'2025-12-28T03:28:40.2566667' AS DateTime2), CAST(N'2025-12-28T03:28:40.2566667' AS DateTime2), N'6eb55605-807e-45ae-a8b3-89c363ad8891')
INSERT [dbo].[Household] ([id], [code], [address], [area], [previous_address], [registration_date], [notes], [created_at], [updated_at], [owner_id]) VALUES (N'76CAAA73-CBD8-44B2-BF1D-82C1FC98277D', N'TDP-2024-002', N'Số 210, đường Lê Trọng Tấn, Đống Đa, Hà Nội', CAST(0.00 AS Decimal(10, 2)), NULL, NULL, NULL, CAST(N'2025-12-28T10:27:44.5600000' AS DateTime2), CAST(N'2025-12-28T10:27:44.5600000' AS DateTime2), N'78843aa7-7103-47d2-96c4-23a57c56ea35')
GO
INSERT [dbo].[HouseholdMember] ([id], [household_id], [name], [role], [dob], [gender], [idCard], [idIssueDate], [idIssuePlace], [ethnicity], [religion], [occupation], [workplace], [registrationDate], [previousAddress], [avatar], [isTemporary], [education_level], [phone], [email]) VALUES (N'0ac20363-bd66-4699-b0ab-5cb2fb503d5d', N'53C33151-D581-4FBA-969D-625F4AC9194B', N'Nguyễn Văn B', N'Con', CAST(N'2016-02-28' AS Date), N'Nam', N'001234567892', NULL, NULL, NULL, NULL, N'Học sinh', N'Trường tiểu học Bách Khoa', NULL, NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[HouseholdMember] ([id], [household_id], [name], [role], [dob], [gender], [idCard], [idIssueDate], [idIssuePlace], [ethnicity], [religion], [occupation], [workplace], [registrationDate], [previousAddress], [avatar], [isTemporary], [education_level], [phone], [email]) VALUES (N'42dbbf65-d2b4-45d5-bf57-2f0568292aa6', N'53C33151-D581-4FBA-969D-625F4AC9194B', N'Nguyễn Văn A', N'Chủ hộ', CAST(N'1990-01-15' AS Date), N'Nam', N'001234567890', NULL, NULL, NULL, NULL, N'Kỹ sư', N'Công ty ABC', NULL, NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[HouseholdMember] ([id], [household_id], [name], [role], [dob], [gender], [idCard], [idIssueDate], [idIssuePlace], [ethnicity], [religion], [occupation], [workplace], [registrationDate], [previousAddress], [avatar], [isTemporary], [education_level], [phone], [email]) VALUES (N'5ab9057f-1ca3-40f7-9630-b96ae264354a', N'76CAAA73-CBD8-44B2-BF1D-82C1FC98277D', N'Nguyễn Văn Khánh', N'Vợ/Chồng', CAST(N'2005-07-05' AS Date), N'Nữ', N'001234567893', NULL, NULL, NULL, NULL, N'Nhân viên văn phòng', N'Công ty Bách Khoa', NULL, NULL, NULL, 0, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([id], [title], [type], [content], [location], [event_date], [is_urgent], [created_at], [end_date]) VALUES (5, N'Lịch tiêm chủng mở rộng 1/2026', N'meeting', N'Thông báo về kế hoạch tiêm chủng mở rộng', N'Nhà văn hóa tầng 1', CAST(N'2026-01-01T13:20:00.000' AS DateTime), 1, CAST(N'2025-12-29T05:13:28.147' AS DateTime), CAST(N'2026-01-01T14:15:00.000' AS DateTime))
INSERT [dbo].[Notification] ([id], [title], [type], [content], [location], [event_date], [is_urgent], [created_at], [end_date]) VALUES (6, N'Họp về vấn đề tổ chức tiệc tất niên ', N'meeting', N'Họp để quyết định địa điểm tổ chức, thời gian tổ chức, nhà thầu.', N'Nhà văn hóa tầng 2', CAST(N'2025-12-29T12:30:00.000' AS DateTime), 0, CAST(N'2025-12-29T10:32:12.607' AS DateTime), CAST(N'2025-12-29T13:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[RegistrationRequest] ([id], [user_id], [type], [reason], [status], [created_at], [start_date], [end_date], [household_code], [applicant_name]) VALUES (N'e92888b5-7914-4f73-890d-041d4760320c', N'6eb55605-807e-45ae-a8b3-89c363ad8891', N'tam_tru', NULL, N'Rejected', CAST(N'2025-12-29T07:14:01.050' AS DateTime), NULL, NULL, N'TDP7-2024-001', N'Nguyễn Văn A')
INSERT [dbo].[RegistrationRequest] ([id], [user_id], [type], [reason], [status], [created_at], [start_date], [end_date], [household_code], [applicant_name]) VALUES (N'75db6b08-c3b6-451f-81d1-296a417efa3b', N'6eb55605-807e-45ae-a8b3-89c363ad8891', N'tam_vang', NULL, N'Rejected', CAST(N'2025-12-29T07:25:54.013' AS DateTime), NULL, NULL, N'TDP7-2024-001', N'Nguyễn Văn A')
INSERT [dbo].[RegistrationRequest] ([id], [user_id], [type], [reason], [status], [created_at], [start_date], [end_date], [household_code], [applicant_name]) VALUES (N'48dcd295-8c70-43b5-99dd-42163ccbaa2a', N'6eb55605-807e-45ae-a8b3-89c363ad8891', N'tam_vang', N'Xin tạm vắng cho thành viên: Trần Thị B. Lý do: Đi làm xa - Nơi đến: Hồ Chí Minh', N'Approved', CAST(N'2025-12-28T16:59:01.213' AS DateTime), CAST(N'2025-12-28T00:00:00.000' AS DateTime), CAST(N'2026-12-17T00:00:00.000' AS DateTime), N'TDP7-2024-001', N'Nguyễn Văn A')
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([id], [user_id], [title], [content], [category], [status], [image_url], [created_at], [updated_at], [admin_response]) VALUES (4, N'878731c4-5ca1-43d6-b2be-c96c5e681fdc', N'Khu phố có người xả rác bừa bãi ra ', N'Con đường khu phố có người xả rác bừa bãi khiến cho mất mỹ quan đường phố, gây ô nhiễm môi trường', N've_sinh', N'Resolved', NULL, CAST(N'2025-12-29T19:01:04.283' AS DateTime), CAST(N'2025-12-29T20:37:29.367' AS DateTime), NULL)
INSERT [dbo].[Report] ([id], [user_id], [title], [content], [category], [status], [image_url], [created_at], [updated_at], [admin_response]) VALUES (5, N'878731c4-5ca1-43d6-b2be-c96c5e681fdc', N'Dạo gần đây có hiện tượng mất đồ trong khu phố', N'Có một số hộ gia đình trong khu phố xảy ra hiện tượng mất đồ, trong đó có nhà tôi ', N'an_ninh', N'Resolved', NULL, CAST(N'2025-12-29T20:46:06.767' AS DateTime), CAST(N'2025-12-29T20:56:25.393' AS DateTime), N'Đã điều tra và bắt được các nghi phạm tình nghi')
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Househol__357D4CF902FA81A2]    Script Date: 29/12/2025 9:29:26 PM ******/
ALTER TABLE [dbo].[Household] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Househol__8BA3E8F69C1F8BAD]    Script Date: 29/12/2025 9:29:26 PM ******/
ALTER TABLE [dbo].[HouseholdMember] ADD UNIQUE NONCLUSTERED 
(
	[idCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Service__357D4CF9BF9D0259]    Script Date: 29/12/2025 9:29:26 PM ******/
ALTER TABLE [dbo].[Service] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61641B77E89A]    Script Date: 29/12/2025 9:29:26 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Facility] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Facility] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Facility] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[FacilityBooking] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[FacilityBooking] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[FacilityBooking] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Household] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Household] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[HouseholdMember] ADD  DEFAULT ((0)) FOR [isTemporary]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [is_urgent]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[RegistrationRequest] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[RegistrationRequest] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[RegistrationRequest] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Service]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[FacilityBooking]  WITH CHECK ADD FOREIGN KEY([facility_id])
REFERENCES [dbo].[Facility] ([id])
GO
ALTER TABLE [dbo].[HouseholdMember]  WITH CHECK ADD  CONSTRAINT [FK_Member_Household] FOREIGN KEY([household_id])
REFERENCES [dbo].[Household] ([id])
GO
ALTER TABLE [dbo].[HouseholdMember] CHECK CONSTRAINT [FK_Member_Household]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Household] FOREIGN KEY([household_id])
REFERENCES [dbo].[Household] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Household]
GO
ALTER TABLE [dbo].[Statistics]  WITH CHECK ADD CHECK  ((isjson([data])=(1)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([role]='user' OR [role]='admin'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active' OR [status]='pending'))
GO
USE [master]
GO
